<main class="main-container">
  <div class="main-top-section">
    <p class="text-success">MyGarden</p>
    <title></title>
    <button class="btn btn-success">sign up</button>
  </div>
  <div class="main-mid-section">
    <h1>share your collection </h1>
    <h2>learn gardening tips and tricks</h2>
    <br>
    <button class="btn btn-success btn-lg">sign up now!</button>
  </div>
</main>
